<app-tool-bar></app-tool-bar>

<div class="">
  <div class="container form-control mt-5">
    <div class="row col-12">
      <div class="p-4 bg-success text-white bg-gradient col-4" style="background: gray">
        <h2 class="text-center mb-4">Users Roles</h2>
        <div *ngFor="let role of roles" class="mb-4 col-8">
          <app-role [role]="role"></app-role>
        </div>
      </div>
      <div class="col-8">
        <app-admin-user-edit (saveAction)="loadUsers()"></app-admin-user-edit>
        <mat-divider class="mb-4 m-lg-4"></mat-divider>
        <div class="users-container ">
          <div *ngFor="let user of users | async" class="mb-2 col-12">
            <app-user [user]="user" [roles]="roles"></app-user>
          </div>
        </div>
        <mat-divider class="mb-4 m-lg-4"></mat-divider>
        <div class="m-lg-4 row options">
          <div class="col-6">
            <button mat-raised-button class="col-6" >CLOSE</button>
          </div>
          <div  class="col-6" style="padding-left: unset;">
            <button mat-raised-button class=" btn-success col-7">SAVE</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

